header {
  background-color: #b5cae6;
  text-align: center;
  padding: 1em;
}

header h1 {
  color: #b34712;
  font-size: 2em;
}

nav {
  background-color: #b5cae6;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li a {
  color: #b34712;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 1em;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em;
}

.picture {
  width: 300px;
  height: auto;
  border: solid 1px;
  margin-right: 1em;
}
